<!DOC TYPE HTML>
<HTML LANG = "ENG">
<HEAD>

	<link rel="stylesheet" href="style_1.css">
<TITLE>DEVI inc.</TITLE>
<meta charset="utf-8">
</HEAD>
<BODY>
<HEADER>
<H1>STEP IN 2</H1>
</HEADER>
	<div id = "container">
	
	<nav>
		<ul>
			<div class="floatgroup1"><li><a href= "index.html">Home</a> &nbsp; &nbsp; </li></div>
			<div class="floatgroup1"><li><a href="about.html">About US</a> &nbsp; &nbsp;</li></div>
			<div class="floatgroup2"><li><a href="products.html">Our Products and Vendors</a> &nbsp;&nbsp; &nbsp;</li></div>
			<div class="floatgroup2"><li><a href = "promotions.html">Promotions and Sales</a> &nbsp; &nbsp;</li></div>
			<div class="floatgroup2"><li><a href = "contact.html">Contact Us</a>&nbsp; &nbsp; &nbsp;</li></div>
		
	</nav><br>
<main>
	<h1>Contact Us</h1>
	<br>
	<p>/*Email and phone numbers to be added*/</p>
</main>
<footer>
<p>&copy; Copyright 2012. All rights Reserved.<BR> 
/*gmail link to be added*/
</footer>
</div>
</body>
</html>