<-!DOC TYPE HTML>
<HTML LANG = "ENG">
<HEAD>
<TITLE>DEVI inc.</TITLE>
<meta charset="utf-8">
</HEAD>
<body>
<h1> Step In 2 /*logo to be added*/ </h1>
<div id = "container">

	<nav>
		
		<a href= "index.html">Home</a> &nbsp; &nbsp;
		<a href="about.html"> About US</a> &nbsp; &nbsp;
		<a href="products.html">Our Products and Vendors</a> &nbsp; &nbsp;
		<a href = "promotions.html">Promotions and Sales</a> &nbsp; &nbsp;
		<a href = "contact.html">Contact Us</a> &nbsp; &nbsp;
		
	</nav>
<main>
<p>/*Location of the store*/</p>
<p>/*A paragraph about the store and the owner*/</p>
<P>/*sliding pictures of the store*/</p>
</main>
<footer>
<p>&copy; Copyright 2012. All rights Reserved.<BR> 
/*gmail link to be added*/
</footer>
</div>
</body>
</html>