<!DOC TYPE HTML>
<HTML LANG = "ENG">
<HEAD>
<TITLE>DEVI inc.</TITLE>
<meta charset="utf-8">
</HEAD>
<BODY>
<HEADER>
/*Logo of the store*/
<H1>DEVI inc.</H1>
<H2>STEP IN 2</H2>
</HEADER>
	<div id = "container">

	<nav>
		
		<a href= "index.html">Home</a> &nbsp; &nbsp;
		<a href="about.html">About US</a> &nbsp; &nbsp;
		<a href="products.html">Our Products and Vendors</a> &nbsp; &nbsp;
		<a href = "promotions.html">Promotions and Sales</a> &nbsp; &nbsp;
		<a href = "contact.html">Contact Us</a> &nbsp; &nbsp;
		
	</nav>
<main>
<P>The best day is the day when a customer leaves the store similing.</p>
<p>Welcome to STEP IN 2 /*Logo*/</p>
/*best picture of the store*/
</main>
<main>
<p>See what the customer say</p>
/*link to yelp review and google review to be added*/
/*proverbs about food, intresting facts about food and many pictures to be added in this main*/
/*Follow us on facebook, twitter and instagram links to be added*/
</main>
<footer>
<p>&copy; Copyright 2012. All rights Reserved.<BR> 
/*gmail link to be added*/
</footer>
</div>
</body>
</html>
