<!DOC TYPE HTML>
<HTML LANG = "ENG">
<HEAD>
	<link rel="stylesheet" href="style_1.css">
<TITLE>DEVI inc.</TITLE>
<meta charset="utf-8">

</HEAD>
<BODY>
<HEADER>
<H1>STEP IN 2</H1>
</HEADER>
	<div id = "container">
	
		<nav>
			<ul>
				<div class="floatgroup1"><li><a href= "index.html">Home</a> &nbsp; &nbsp; </li></div>
				<div class="floatgroup1"><li><a href="about.html">About US</a> &nbsp; &nbsp;</li></div>
				<div class="floatgroup2"><li><a href="products.html">Our Products and Vendors</a> &nbsp;&nbsp; &nbsp;</li></div>
				<div class="floatgroup2"><li><a href = "promotions.html">Promotions and Sales</a> &nbsp; &nbsp;</li></div>
				<div class="floatgroup2"><li><a href = "contact_1.html">Contact Us</a>&nbsp; &nbsp; &nbsp;</li></div>
			</ul>
		
		</nav>
	
	<div class = "mobile">
	<img class="indexImg1" src="image/For_Index_Page_Pic01.jpg" alt="Store Picture">
	<img class="indexImg2" src="image/For_Index_Page_Pic02.jpg" alt="Store Picture">
	<img class="indexImg3" src="image/For_Index_Page_Pic03.jpg" alt="Store Picture">
	</div>


<br>	
<main>
	<P>The best day is the day when a customer leaves the store similing.</p>
	<p>Welcome to STEP IN 2 /*Logo*/</p>
	/*best picture of the store*/
	<p>See what the customer say</p>
	/*link to yelp review and google review to be added*/
	/*proverbs about food, intresting facts about food and many pictures to be added in this main*/
	/*Follow us on facebook, twitter and instagram links to be added*/
</main>
<footer>
<p>&copy; Copyright 2012. All rights Reserved.<BR> 
/*gmail link to be added*/
</footer>
</div>

</body>
</html>
