<!DOC TYPE HTML>
<HTML LANG = "ENG">
<HEAD>
<TITLE>DEVI inc.</TITLE>
<meta charset="utf-8">
</HEAD>
<body>
<h1> Step In 2 /*logo to be added*/ </h1>
<div id = "container">

	<nav>
		
		<a href= "index.html">Home</a> &nbsp; &nbsp;
		<a href="about.html"> About US</a> &nbsp; &nbsp;
		<a href="products.html">Our Products and Vendors</a> &nbsp; &nbsp;
		<a href = "promotions.html">Promotions and Sales</a> &nbsp; &nbsp;
		<a href = "contact.html">Contact Us</a> &nbsp; &nbsp;
		
	</nav>
<Br>
<main>
	<h1>Fuel</h1>
		<p>/*A short brief about the fuel provider*/</p>
		<p>prices and pictures</p>
		<br>
</main>
<main>
	<h1>Non-Alcoholic Beverage</h1>
		<br>
		<h2>Cocacola /*logo*/</h2>
		<p>/*a link to vendors home website*/</p>
		<P>/*interesting facts about cocacola*/</p>
		<p>/*Pictures of products*/</p>
		<p>/*a link to download the price list of products of cocacola available in the store*/</p>
		<h2>Pepsi /*logo*/</h2>
			<p>/*a link to vendors home website*/</p>
			<P>interesting facts about pepsi</p>
			<p>/*Pictures of products*/</p>
			<p>/*a link to download the price list of products of pepsi available in the store*/</p>
		<h2>Local Products</h2>
			<p>/*Pictures of products*/</p>
			<p>/*a link to download the price list of other products available in the store*/</p>
			<br>
</main>
<main>
	<h1>Alcoholic Beverage</h1>
		<br>
		<h2>Products By GGC dietributing Inc.</h2>
			<p>/*a link to vendors home website*/</p>
			<p>/*Pictures of products*/</p>
			<p>/*a link to download the price list of products of GGC available in the store*/</p>
			<br>
		<h2>Products By Eagle Distributing Co.</h2>
			<p>/*a link to vendors home website*/</p>
			<p>/*Pictures of products*/</p>
			<p>/*Pictures of products*/</p>
			<br>
		<h2>Wine</h2>
			<p>/*Pictures of wine cellar*/</p>
			<p>/*a link to download the price list of products available in the store*/</p>
			<br>
</main>
<main>
	<H1>Tobacco and Snuff</h1>
		<br>
		<h2>Cigarrets</h2>
			<br>
			<ul>
				<li><h3>Malboro</h3>
				<p>/*a link to vendors home website*/</p>
				<br><p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</li>
				
				<li><h3>L/*&*/M</h3>
				<p>/*a link to vendors home website*/</p>
				<br><p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</li>
				
				<li><h3>Kool</h3>
				<p>/*a link to vendors home website*/</p>
				<br><p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</li>
				
				<li><h3>Camel</h3>
				<p>/*a link to vendors home website*/</p>
				<br><p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</li>
				
				<li><h3>Bension/*&*/Hedges</h3>
				<p>/*a link to vendors home website*/</p>
				<p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</li>
				
				<li><h3>Doral</h3>
				<p>/*a link to vendors home website*/</p>
				<p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</li>
				
				<li><h3>Other ciggarrete Products</h3>
				<p>/*a link to vendors home website*/</p>
				<p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</li>
			</ul>
			<br>
		<h2>Snuff</h2>
			<br>
			<ul>
				<li><h3>Grizzly</h3>
				<p>/*a link to vendors home website*/</p>
				<p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</li>
			
				<li><h3>Copenhegan</h3>
				<p>/*a link to vendors home website*/</p>
				<p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</li>
			
				<li><h3>Redseal</h3>
				<p>/*a link to vendors home website*/</p>
				<p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</li>	
			
				<li><h3>Other Snuff Products</h3>
				<p>/*a link to vendors home website*/</p>
				<p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
			</li>
			<br>
</main>
<main>
	<h1>Snacks and Fountain Drinks</h1>
		<br>
		<p>/*Pictures of products*/</p>
		<p>/*a link to download the price list of products available in the store*/</p>
		<br>
	</main>
	<main>
	<h1>Accessories</h1>
		<br>
		<h2>Chargers and Headphones</h2>
			<br>	
			<ul>
				<li><h3>Iphone</h3>
				<p>/*a link to vendors home website*/</p>
				<p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</li>
			
				<li><h3>Android</h3>
				<p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</li>
				
				<li><h3>Headphones</h3>
				<p>/*Pictures of products*/</p>
				<p>/*a link to download the price list of products available in the store*/</p>
				</ul>
				<br>
</main>
<main>
	<h1>Other Items</h1>
		<br>
		<p>/*Pictures of products*/</p>
		<p>/*a link to download the price list of products available in the store*/</p>
	</main>
<footer>
<p>&copy; Copyright 2012. All rights Reserved.<BR> 
/*gmail link to be added*/
</footer>
</div>
</body>
</html>

		